.post-card {
	position: relative;
	width: (100% / 8) * 2;
	background-color: #ffffff;
	border: 1px solid #ccc;
	cursor: pointer;

	.post-image {
		position: relative;
		height: 1.5em * 5;
	}

	.info {
		position: relative;
		padding: 0 0.75em;
		padding-top: 1em;
		padding-bottom: 1em;

		.post-title {
			position: relative;
			font-family: "Montserrat";
			font-weight: 700;
			font-size: 1.25em;
			color: #3b3b3b;
			line-height: 1.25em;
			height: 1.25em * 2;
			overflow: hidden;
		}

		.post-date {
			position: relative;
			color: #FFCC39;
			margin-bottom: 0.8em;
		}

		.preview {
			height: 1.5em * 3;
			overflow: hidden;
		}
	}
}