// imported styles //
@import "modules";
@import "base.css";

// helper classes //

.boxing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.container:extend(.boxing) {
	position: relative;
	padding: 0 0.75em;
}

.view:extend(.boxing) {
	position: relative;
	padding: 0 100% / 18;
}

.img1 {
	background: url("../img/img1.jpg") center no-repeat;
	background-size: cover;
}

.img2 {
	background: url("../img/img2.jpg") center no-repeat;
	background-size: cover;
}

.img3 {
	background: url("../img/img3.jpg") center no-repeat;
	background-size: cover;
}

// main styles //

#home .masthead {
	position: relative;
	height: 70vh;
	padding-top: 1.5em * 10;
	background: url("../img/img2.jpg") center no-repeat;
	background-size: cover;

	.manifest {
		position: relative;
		font-family: "Montserrat";
		color: white;
		font-weight: 900;
		font-size: 5.063em;
		text-align: center;
	}
}

#home .masthead:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(27, 15, 40, .5);
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.5em * 3;
	z-index: 300;
	background-color: rgba(27, 15, 40, .6);
	-webkit-transition: all 0.318s ease-out;
	-moz-transition: all 0.318s ease-out;
	transition: all 0.318s ease-out;

	.logo {
		position: relative;
		float: left;
		top: 0.3em;
	}

	.logo-type {
		position: relative;
		margin: auto;
		top: 0.3em;
	}

	.subscribe {
		position: relative;
		float: right;
		background-color: #FFCC39;
		top: 1em;
	}
}

.top-bar.hidden {
	top: -1.5em * 3;
}

#home .trending-posts {
	position: relative;

	.header:extend(.container) {
		position: relative;
		font-family: "Raleway";
		font-weight: 300;
		font-size: 2.25em;
		padding-top: 1em;
		padding-bottom: 1em;
		border-bottom: 0.5px solid #ccc;
		color: #444;
	}

	.trending-posts-list {
		position: relative;
		padding-top: 1.5em * 2;
		padding-bottom: 1.5em * 2;
		padding-left: ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;

		.post {
			position: relative;
			float: left;
			margin: 1.5em ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;
		}
	}
}

#home .recent-posts {
	position: relative;

	.header:extend(.container) {
		position: relative;
		font-family: "Raleway";
		font-weight: 300;
		font-size: 2.25em;
		padding-top: 1em;
		padding-bottom: 1em;
		border-bottom: 0.5px solid #ccc;
		color: #444;
	}

	.recent-posts-list {
		position: relative;
		padding-top: 1.5em * 2;
		padding-bottom: 1.5em * 2;
		padding-left: ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;

		.post {
			position: relative;
			float: left;
			margin: 1.5em ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;
		}
	}
}

.footer {
	position: relative;
	padding-top: 1.5em * 2px;
	padding-bottom: 1.5em * 2px;
	background-color: #080808;
	color: white;

	.info {
		position: relative;
		display: table;
		margin: auto;
		margin-bottom: 1.5em * 2;
	}

	.subscribe-form {
		position: relative;
		float: left;
		padding-right: 1.5em * 2;
		border-right: 1px solid white;
		
		.header {
			position: relative;
			font-family: "Raleway";
			font-weight: 400;
			font-size: 1.8em;
			display: block;
			margin-bottom: 1.25em;
		}

		.text-field {
			position: relative;
			margin-bottom: 1.5em;
			border: transparent;
		}

		.def-button {
			background-color: #FFCC39;
		}
	}

	.elsewhere {
		position: relative;
		float: left;
		padding-left: 1.5em * 2;

		.header {
			position: relative;
			font-size: 1.8em;
			font-family: "Raleway";
			font-weight: 400;
			margin-bottom: 1.25em;
		}

		.link {
			position: relative;
			display: block;
			padding: 1em 0 1em 2.5em;
		}

		.twitter {
			background: url("../icons/twitter.svg") left no-repeat;
			background-size: 24px;
		}

		.facebook {
			background: url("../icons/facebook.svg") left no-repeat;
			background-size: 24px;
		}
	}

	.copyright {
		position: relative;
		text-align: center;
	}
}

#home .subscribe-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	z-index: 400;
	display: none;

	.close {
		position: absolute;
		top: 1.5em * 4;
		right: 100% / 17;
	}

	.subscribe-form:extend(.container) {
		position: relative;
		margin: auto;
		margin-top: 1.5em * 7;
		width: (100% / 8) * 3;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		background-color: white;
		border-radius: 3px;

		.header {
			position: relative;
			font-family: "Montserrat";
			font-weight: 600;
			font-variant: small-caps;
			display: block;
			margin-bottom: 1.5em;
			font-size: 1.5em;
			color: #666;
		}

		.text-field {
			position: relative;
			margin: auto;
			margin-bottom: 1.5em;
			display: block;
		}

		.def-button {
			position: relative;
			margin: auto;
			background-color: #FFCC39;
			display: block;
		}
	}
}

#home .subscribe-modal.active {
	display: block;
}

#home .word-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	z-index: 400;
	display: none;

	.close {
		position: absolute;
		top: 1.5em * 4;
		right: 100% / 17;
	}

	.modal-view:extend(.container) {
		position: relative;
		background-color: white;
		width: (100% / 8) * 4;
		border-radius: 3px;
		margin: auto;
		margin-top: 1.5em * 7;
		padding-top: 1.5em * 2;
		padding-bottom: 1.5em * 2;

		.header {
			position: relative;
			text-align: center;
			font-family: "Montserrat";
			font-weight: 900;
			font-variant: small-caps;
			font-size: 3.375em;
			margin-bottom: 1em;
			color: #666;
		}

		.body {
			position: relative;
			text-align: center;
		}
	}
}

#home .word-modal.active {
	display: block;
}

#article .masthead {
	position: relative;
	height: 1.5em * 13em;
	padding-top: 1.5em * 6;

	.manifest:extend(.container) {
		position: relative;
		width: (100% / 8) * 5;
		margin: auto;

		.article-title {
			position: relative;
			color: white;
			font-family: "Montserrat";
			font-size: 2.25em;
			font-weight: 700;
			line-height: 1.5em;
		}

		.date {
			position: relative;
			color: white;
		}
	}
}

#article .masthead:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(27, 15, 40, .4);
}

#article .article {
	position: relative;
	padding-top: 1.5em * 3;
	padding-bottom: 1.5em;

	.body:extend(.container) {
		position: relative;
		color: #000;
		line-height: 1.7em;
		font-size: 1.25em;
		width: (100% / 8) * 5;
		margin: auto;
		margin-bottom: 1.7em;

		.link {
			text-decoration: underline;
		}
	}

	.display-image {
		position: relative;
		width: (100% / 8) * 4;
		height: 1.5em * 14;
		margin: auto;
		margin-bottom: 3.375em;

		.tag {
			position: absolute;
			bottom: -1.75em;
			left: 0;
			color: #444;
		}
	}

	.header:extend(.container) {
		position: relative;
		width: (100% / 8) * 5;
		font-family: "Montserrat";
		margin: auto;
		margin-bottom: 0.8em; 
	}

	.video {
		position: relative;
		margin: auto;
		display: block;
		width: (100% / 8) * 4;
		height: 1.5em * 13;
		border: transparent;
		outline: none;
		margin-bottom: 1.7em;
	}
}

#article .comments {
	position: relative;
	padding-top: 1.5em * 3;
	padding-bottom: 1.5em * 3;

	.add-comment-form:extend(.container) {
		position: relative;
		width: (100% / 8) * 5;
		margin: auto;
		margin-bottom: 1.5em * 2;
		padding-top: 1.5em * 2;
		border-top: 0.5px solid rgba(0, 0, 0, .25);

		.header {
			position: relative;
			font-family: "Montserrat";
			display: block;
			font-size: 1.5em;
			color: #666;
			font-weight: 700;
			margin-bottom: 1.5em;
		}

		.text-field {
			position: relative;
			margin-bottom: 1.5em;
		}

		textarea {
			width: (100% / 5) * 3;
			height: 1.5em * 3;
		}

		.def-button {
			background-color: #FFCC39;
		}
	}

	.comment-list:extend(.container) {
		position: relative;
		width: (100% / 8) * 5;
		margin: auto;

		.header {
			position: relative;
			font-family: "Montserrat";
			color: #666;
			font-size: 1.5em;
			margin-bottom: 1.5em;
		}

		.comment {
			position: relative;
			width: (100% / 5) * 4;
			margin-bottom: 1.5em;

			.username {
				position: relative;
				font-family: "Raleway";
				font-weight: 600;
				color: #333;
			}
		}
	}
}

//media queries

@media screen and (min-width: 320px) {
	.top-bar {
		.logo {
			display: none;
		}

		.logo-type {
			float: left;
		}
	}

	#home .masthead {
		padding-top: 1.5em * 7;
		.manifest {
			font-size: 2.25em;
			line-height: 1.5em;
		}
	}

	#home .trending-posts {
		.header {
			position: relative;
			font-size: 1.5em;
		}

		.trending-posts-list {
			padding-left: 0;
			padding-right: 0;

			.post {
				float: none;
				width: (100% / 4) * 4;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	#home .recent-posts {
		.header {
			position: relative;
			font-size: 1.5em;
		}

		.recent-posts-list {
			padding-left: 0;
			padding-right: 0;
			
			.post {
				float: none;
				width: (100% / 4) * 4;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.footer {
		
	}

	#home .subscribe-modal {
		overflow-y: scroll;

		.subscribe-form {
			width: (100% / 4) * 4;
			margin-bottom: 1.5em;
		}
	}

	#home .word-modal {
		overflow-y: scroll;

		.close {
			top: 1.5em * 2;
		}

		.modal-view {
			width: (100% / 4) * 4;
			margin-top: 1.5em * 4;
			margin-bottom: 1.5em;

			.header {
				font-size: 2.25em;
				line-height: 1.25em;
			}
		}
	}

	#article .masthead {
		padding-top: 1.5em * 5;

		.manifest:extend(.container) {
			width: (100% / 4) * 4;

			.article-title {
				font-size: 1.5em;
				line-height: 1.5em;
			}

			.date {
				position: relative;
				color: white;
			}
		}
	}

	#article .article {

		.body:extend(.container) {
			line-height: 1.5em;
			font-size: 1em;
			width: (100% / 4) * 4;
			margin-bottom: 1.5em;
		}

		.display-image {
			position: relative;
			width: (100% / 4) * 4;
			height: 1.5em * 8;
		}

		.header:extend(.container) {
			width: (100% / 4) * 4;
		}

		.video {
			width: (100% / 4) * 4;
			height: 1.5em * 8;
		}
	}

	#article .comments {
		.add-comment-form:extend(.container) {
			position: relative;
			width: (100% / 4) * 4;
		}

		.comment-list:extend(.container) {
			position: relative;
			width: (100% / 4) * 4;

			.comment {
				position: relative;
				width: (100% / 4) * 4;
			}
		}
	}

}

@media screen and (min-width: 425px) {
	#home .trending-posts {
		.trending-posts-list {
			.post {
				width: (100% / 4) * 3;
			}
		}
	}

	#home .recent-posts {
		.recent-posts-list {
			.post {
				width: (100% / 4) * 3;
			}
		}
	}

	#home .word-modal {
		.modal-view {
			width: (100% / 4) * 3;
		}
	}

	#home .subscribe-modal {
		.subscribe-form {
			width: (100% / 4) * 3;
		}
	}
}

@media screen and (min-width: 768px) {
	#home .masthead {
		.manifest {
			font-size: 3.375em;
		}
	}

	#home .trending-posts {
		.header {
			font-size: 2.25em;
		}

		.trending-posts-list {
			padding-left: ((100% - (((100% / 8) * 3.5) * 2)) / 3);

			.post {
				width: (100% / 8) * 3.5;
				float: left;
				margin: 1.5em ((100% - (((100% / 8) * 3.5) * 2)) / 3) / 2;
			}
		}
	}

	#home .recent-posts {
		.header {
			font-size: 2.25em;
		}

		.recent-posts-list {
			padding-left: ((100% - (((100% / 8) * 3.5) * 2)) / 3);

			.post {
				width: (100% / 8) * 3.5;
				float: left;
				margin: 1.5em ((100% - (((100% / 8) * 3.5) * 2)) / 3) / 2;
			}
		}
	}

	.footer {

	}

	#article .masthead {
		.manifest:extend(.container) {
			width: (100% / 8) * 6;
		}
	}

	#article .article {
		.body:extend(.container) {
			width: (100% / 8) * 6;
		}

		.display-image {
			position: relative;
			width: (100% / 8) * 6;
			height: 1.5em * 13;
		}

		.header:extend(.container) {
			width: (100% / 8) * 6;
		}

		.video {
			width: (100% / 8) * 6;
			height: 1.5em * 13;
		}
	}

	#article .comments {
		.add-comment-form:extend(.container) {
			position: relative;
			width: (100% / 8) * 6;
		}

		.comment-list:extend(.container) {
			position: relative;
			width: (100% / 8) * 6;

			.comment {
				position: relative;
				width: (100% / 6) * 5;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	#home .subscribe-modal {
		.subscribe-form {
			width: (100% / 8) * 3;
		}
	}

	#home .word-modal {
		.modal-view {
			width: (100% / 8) * 4;
		}
	}

	.top-bar {
		.logo {
			display: block;
		}

		.logo-type {
			float: none;
		}
	}
}

@media screen and (min-width: 1366px) {
	#home .masthead {
		padding-top: 1.5em * 10;

		.manifest {
			font-size: 5.063em;
		}
	}

	#home .trending-posts {
		.trending-posts-list {
			padding-left: ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;

			.post {
				width: (100% / 8) * 2;
				margin: 1.5em ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;
			}
		}
	}

	#home .recent-posts {

		.recent-posts-list {
			padding-left: ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;

			.post {
				width: (100% / 8) * 2;
				margin: 1.5em ((100% - (((100% / 8) * 2) * 3)) / 4) / 2;
			}
		}
	}

	#article .masthead {
		position: relative;
		height: 1.5em * 13em;
		padding-top: 1.5em * 6;

		.manifest:extend(.container) {
			position: relative;
			width: (100% / 8) * 5;
			margin: auto;

			.article-title {
				position: relative;
				color: white;
				font-family: "Montserrat";
				font-size: 2.25em;
				font-weight: 700;
				line-height: 1.5em;
			}

			.date {
				position: relative;
				color: white;
			}
		}
	}

	#article .masthead:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(27, 15, 40, .4);
	}

	#article .article {
		position: relative;
		padding-top: 1.5em * 3;
		padding-bottom: 1.5em;

		.body:extend(.container) {
			position: relative;
			color: #000;
			line-height: 1.7em;
			font-size: 1.25em;
			width: (100% / 8) * 5;
			margin: auto;
			margin-bottom: 1.7em;

			.link {
				text-decoration: underline;
			}
		}

		.display-image {
			position: relative;
			width: (100% / 8) * 4;
			height: 1.5em * 14;
			margin: auto;
			margin-bottom: 3.375em;

			.tag {
				position: absolute;
				bottom: -1.75em;
				left: 0;
				color: #444;
			}
		}

		.header:extend(.container) {
			position: relative;
			width: (100% / 8) * 5;
			font-family: "Montserrat";
			margin: auto;
			margin-bottom: 0.8em; 
		}

		.video {
			position: relative;
			margin: auto;
			display: block;
			width: (100% / 8) * 4;
			height: 1.5em * 13;
			border: transparent;
			outline: none;
			margin-bottom: 1.7em;
		}
	}

	#article .comments {
		position: relative;
		padding-top: 1.5em * 3;
		padding-bottom: 1.5em * 3;

		.add-comment-form:extend(.container) {
			position: relative;
			width: (100% / 8) * 5;
			margin: auto;
			margin-bottom: 1.5em * 2;
			padding-top: 1.5em * 2;
			border-top: 0.5px solid rgba(0, 0, 0, .25);

			.header {
				position: relative;
				font-family: "Montserrat";
				display: block;
				font-size: 1.5em;
				color: #666;
				font-weight: 700;
				margin-bottom: 1.5em;
			}

			.text-field {
				position: relative;
				margin-bottom: 1.5em;
			}

			textarea {
				width: (100% / 5) * 3;
				height: 1.5em * 3;
			}

			.def-button {
				background-color: #FFCC39;
			}
		}

		.comment-list:extend(.container) {
			position: relative;
			width: (100% / 8) * 5;
			margin: auto;

			.header {
				position: relative;
				font-family: "Montserrat";
				color: #666;
				font-size: 1.5em;
				margin-bottom: 1.5em;
			}

			.comment {
				position: relative;
				width: (100% / 5) * 4;
				margin-bottom: 1.5em;

				.username {
					position: relative;
					font-family: "Raleway";
					font-weight: 600;
					color: #333;
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 570px) {
	.footer {
		.subscribe-form {
			border-right: transparent;
			float: none;
			padding-right: 0;
			padding-bottom: 1.5em;
			border-bottom: 2px solid white;
		}

		.elsewhere {
			float: none;
			padding-left: 0;
			padding-top: 1.5em;
		}
	}
}